/*Full Page Styles*/

html, body {
    margin: 0;
    height: 100%;
    min-width: 375px;
}

/*Containers*/
body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:hsl(217, 54%, 11%);
    padding: 0 25px 0 25px;;
}

.box {
   display: flex;
   flex-direction: column;
   background-color: hsl(216, 50%, 16%);
   padding: 25px;
   border-radius: 15px;
   max-width: 325px;
}

.img-container {
    display: flex;
    position: relative;
}

.eth-time .eth {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    flex-grow: 1;
}

.eth-time .time {
    display: flex;;
    gap: 7px;
    flex-shrink: 0;
}

.eth-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creation-credit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    gap: 7px;
}

/*Header Styles*/
h1 {
    font-weight: 600;
    padding-top: 10px;
}

h2 {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

h1 { 
    align-self: flex-start;
}


/*Text Styles*/
.light-text {
    color: hsl(215, 51%, 70%)
}

.white-text {
    color: hsl(0, 0%, 100%);
}

#card_name {
    font-family: 'Outfit';
    font-size: 18px;
}

#creator-name {
    font-family: 'Outfit';
    font-size: 15px;
    font-weight: 300;
}

#text {
    font-family: 'Outfit';
    font-size: 16px;
}

.attribution { 
    color: hsl(0, 0%, 100%);
    font-size: 11px; 
    text-align: center; 
    align-self: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*Image Styles*/
.main-img {
    width: 325px;
    height: auto;
    border-radius: 10px;
}

.icon {
    max-width: 15px;
}

.avatar {
    max-width: 50px;
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 1px solid #aeb1a6;
}

.eth .icon {
    align-self: center;
}

.time .icon {
    align-self: center;
}

hr {
    width: 100%;
    height: 0px;
    border: none;
    border-top: 1px solid hsl(215, 51%, 70%);
    
}

/* Hover Changes */

h1:hover {
    color: hsl(178, 100%, 50%);
}

.creation-credit .white-text:hover {
    color: hsl(178, 100%, 50%);
}

.box .img-container .main-img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.eyes {
    align-self: center;
    transition: .5s ease;
    opacity: 0;
  }

  .box .img-container:hover .eyes {
      opacity: 1;
  }

  .overlay {
      position: absolute;
      top: 41%;
      left: 43%;
  }

  .img-container span {
    background: hsl(178, 100%, 50%);
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 10px;
  }

  .img-container span:hover  { 
    opacity: 0.5;
    border-radius: 10px;
 }