/*Full Page Styles*/

html, body {
    margin: 0;
    height: 100%;
}

/*Containers*/
body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:hsl(217, 54%, 11%);
}

.box {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: hsl(216, 50%, 16%);
   padding: 20px;
   border-radius: 15px;
   max-width: 340px;
}

.img-container {
    display: flex;
}

.eth-time .eth {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    gap: 7px;
    flex-grow: 1;
}

.eth-time .time {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    gap: 7px;
}

.eth-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Header Styles*/
h1 {
    font-weight: 600;
}

h2 {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

h1 { 
    align-self: flex-start;
}


/*Text Styles*/
.light-text {
    color: hsl(215, 51%, 70%)
}

.white-text {
    color: hsl(0, 0%, 100%);
}

#text {
    font-family: 'Outfit';
    font-size: 18px;
}

.attribution { 
    color: hsl(0, 0%, 100%);
    font-size: 11px; 
    text-align: center; 
    align-self: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*Image Styles*/
.main-img {
    max-width: 300px;
    border-radius: 10px;
}

.icon {
    max-width: 15px;
}

.avatar {
    max-width: 50px;
}

.eth .icon {
    align-self: center;
}

.time .icon {
    align-self: center;
}

